body{
    background-color: whitesmoke;
    height: 87vh;
}

hr{
    margin-bottom: 0px;
}

.inf{
    background-color: white;
    padding: 1vh;
    margin: 2vh 0vh;
}

.Contacto{
    background-color: white;
    padding: 1vh;
    margin: 2vh 0vh;
}

.ver{
    position: relative;
	width: 100%;
	background: #ff351b;
	outline: none;
	padding: 13px 10px 7.5px;
	border: none;
	border-radius: 13px;
	font-weight: 500;
	font-size: 1em;
    margin-bottom: 5px;
	box-shadow: -3px 7px 10px rgba(210,0,0,9);
	padding-top: 6px;
	margin-top: 8px;
	color: #fff;
    transition: 1s;
  }

.ver:hover{
    position: relative;
	width: 100%;
	background: #131313;
	outline: none;
	padding: 13px 10px 7.5px;
	border: none;
	border-radius: 13px;
	font-weight: 500;
	font-size: 1em;
    margin-bottom: 5px;
	box-shadow: -3px 7px 10px rgba(210,0,0,9);
	padding-top: 6px;
	margin-top: 8px;
	color: #fff;
    transition: .5s;
  }